// Font, Color and Utility variables.

// Colors
$black: #151515;
$dark-grey: #242424;
$grey: #d9d9d9;
$white: #fff;
$aqua: #4ee1a0;

// Mobile Font Sizes
$mob-font-header-xl: 2.5rem;
$mob-font-header-lg: 2rem;
$mob-font-body-reg: 1rem;

// Mobile Line Heights
$mob-font-body-lh: 2.6;

// Desktop/Tablet Font Sizes
$dt-font-header-xl: 5.5rem;
$dt-font-header-lg: 3rem;
$dt-font-header-md: 1.5rem;
$dt-font-body-reg: 1.125rem;

// Desktop/Tablet Line Heights
$dt-header-xl-lh: 8.8;
$dt-header-lg-lh: 5.6;
$dt-header-md-lh: 3.2;
$dt-font-body-lh: 2.8;

// Transitions
$base-transition: all 0.3s ease;

// Padding
$base-padding: 1rem;
$base-margin: 1rem;
