.link__list li:first-child {
  flex-basis: 100%;
  text-align: center;
  user-select: none;

  @include tablet() {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

.header {
  .link__list {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .link__list-icon {
    margin: 0 1rem;
  }

  h1 {
    font-size: $mob-fs-nav-header;

    @include tablet() {
      font-size: $dt-fs-nav-header;
    }
  }
}

.link__list li:not(:first-child) {
  margin-top: 1rem;

  @include tablet() {
    margin-top: 0;
  }
}

.header--positioned {
  position: absolute;
  width: 100%;
  padding: 0 1rem;
  @include tablet() {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    padding: 0 2rem 1.125rem 2rem;
    margin-top: 1rem;
  }

  @include desktop() {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: unset;
  }
}

.footer-links {
  padding: 0 1rem;

  @include desktop() {
    padding: 0;
  }
}

.footer-links {
  .link__list {
    margin-top: 1.5rem;
  }
}

svg path {
  transition: fill 0.2s ease;
}

.link__list-icon {
  a {
    @include desktop() {
      &:hover {
        svg path {
          fill: $aqua;
        }
      }
    }
  }
}
