.hero__content {
  display: flex;
  flex-direction: column;

  @include desktop() {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
  }

  .hero__avatar-container {
    width: 35%;
    margin: 0 auto;

    @include tablet() {
      margin-right: unset;
    }
  }

  .hero__img {
    width: 100%;
  }

  .hero__callout {
    @include tablet() {
      position: absolute;
      text-align: left;
      top: 25%;
      left: 32px;
      width: 75%;
      margin: 0;
    }

    @include desktop() {
      top: 0;
      width: 75%;
      transform: translateY(50%);
    }

    h2 {
      font-size: $mob-fs-header-xl;
      text-align: center;

      @include tablet() {
        font-size: $dt-fs-header-xl;
        line-height: $dt-header-xl-lh;
        text-align: left;
      }
    }

    .underlined {
      text-decoration: underline;
      text-decoration-color: $aqua;
      text-underline-offset: 25px;
    }

    p {
      text-align: center;
      font-size: $mob-fs-body-reg;
      line-height: $mob-font-body-lh;

      @include tablet() {
        text-align: left;
        width: 65%;
        font-size: $dt-fs-body-reg;
        line-height: $dt-font-body-lh;
      }
    }

    p:first-of-type {
      margin-top: 1.1875rem;

      @include tablet() {
        margin-top: 2.5rem;
      }
    }

    p:last-of-type {
      margin-top: 1.1875rem;
    }
  }
}
