.skills__container {
  margin-top: 3rem;
  margin-bottom: 3rem;

  width: 100%;
  padding: 0 1rem;

  @include tablet() {
    padding: 0 2rem 1.125rem 2rem;
  }

  @include desktop() {
    max-width: 1110px;
    margin: 0 auto;
  }
}

.skills__list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;

  li {
    margin: 1rem 0;
  }

  text-align: center;

  @include tablet() {
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skills__item {
  h2 {
    font-size: $mob-fs-header-lg;

    @include tablet() {
      font-size: $dt-fs-header-lg;
    }
  }
}

.skills__rings {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(75%, 85%);

  @include tablet() {
    transform: translate(50%, 85%);
  }

  @include desktop() {
    transform: translate(45%, 50%);
  }
}
