.skills__container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.skills__list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;

  li {
    margin: 1rem 0;
  }

  text-align: center;

  @include tablet() {
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skills__item {
  h2 {
    font-size: $mob-fs-header-lg;

    @include tablet() {
      font-size: $dt-fs-header-lg;
    }
  }
}
